/* 
    Capstone Project
    Authors: Jamin, Vinny, Jacson
    Date: 3.2.18

    filename: aboutUs.html  
*/

.aboutUsContent {
    margin-top: 1em;
    height: 1000px;
}

.teamContent {
    margin-top: 1em;
    height: 100%;
}

h2.names {
    font-size: 2rem;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container-thin p,
#fjDis,
.statements {
    font-size: 2em;
}

#fjDis {
    background: #e2e2e287;
    border-radius: 10px;
}

.parallax {
    background: url(../images/sidewalk_big.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    width: 100%;
}

.parallax2 {
    background: url(../images/apartment.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    width: 100%;
}

.aboutusHeader,
.teamHeader {
    width: 100%;
    height: 1000px;
}

#parallaxAboutUs,
#parallaxTeam {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(248, 244, 244, 0.86);
    text-align: center;
}

.parallaxText {
    font-size: 10em;
}

#arrow1,
#arrow2 {
    height: 100%;
    font-size: 10em;
    line-height: .5em;
    margin-top: -.4em;
}

#arrow1:hover,
#arrow2:hover {
    cursor: pointer;
}

#teamTitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(248, 244, 244, 0.86);
    text-align: center;
}


/* #down {
    margin-left: auto;
    margin-right: auto;
    color: rgba(248, 244, 244, 0.86);
} */

.team-photos {
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #000000a8;
    max-width: 500px
}

.jaminDis1 {
    display: block;
    text-align: right;
}

.jaminDis2 {
    display: none;
}

@media only screen and (max-width: 767px) {
    .parallax {
        background: url(../images/sidewalk_small.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 25px;
        width: 50px;
    }
    .headerDiv {
        margin-top: -1.5em;
        /* margin-bottom: -.5em; */
    }
    #mission {
        margin-top: 2rem;
    }
    a#navIcon:hover+ul.nav,
    nav.menu ul:hover {
        margin-top: -11%;
    }
    #aboutUsHeader {
        margin-top: 1em;
    }
    p.discriptions,
    .statements,
    #fjDis {
        font-size: 1.5em!important;
    }
    .parallaxText {
        font-size: 4em;
    }
    .aboutusHeader,
    .teamHeader {
        width: 100%;
        height: 1000px;
        margin: 0;
    }
    .jaminDis1 {
        display: none;
    }
    .jaminDis2 {
        display: block;
        text-align: left;
    }
}

@media screen and (orientation:landscape) and (max-width: 767px) {
    /* Landscape styles */
    .headerDiv {
        margin-top: .5em;
        margin-bottom: -.5em;
    }
    li {
        padding-top: 0;
        padding-bottom: 0;
    }
}