/* 
    Capstone Project
    Authors: Jamin, Vinny, Jacson
    Date: 3.2.18

    filename: gear.css
*/

@media only screen and (max-width: 767px) {
    h1#mainHeader {
        margin-top: 2%;
    }
    div.mainDiv {
        margin-top: -13%;
    }
}

@media only screen and (min-width: 768px) {
    ul.nav,
    a#navIcon {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}