/* 
    Capstone Project
    Authors: Jamin, Vinny, Jacson
    Date: 3.2.18

    filename: gear.css
*/

@media only screen and (max-width: 767px) {
    h1#mainHeader {
        margin-top: 2%;
    }
    div.mainDiv {
        margin-top: -13%;
    }
    .headerDiv {
        margin-top: -1.5em;
        margin-bottom: 0em;
    }
    a#navIcon:hover+ul.nav,
    nav.menu ul:hover {
        margin-top: -11%;
    }
    #services {
        margin-top: 3.5em;
    }
}

@media only screen and (min-width: 768px) {
    ul.nav,
    a#navIcon {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}