/* 
    Capstone Project
    Authors: Jamin, Vinny, Jacson
    Date: 3.2.18

    filename: home.css
*/


/* Mission and Vision Styles */

.headStatements {
    color: #005F9B;
    font-family: 'Gugi', cursive;
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
}

h1#mainHeader {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

image {
    width: 100%;
}


/* .statements {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 2em;
    color: #FF5300;
} */


/* picture styles */

div.item img {
    margin-left: auto;
    margin-right: auto;
}

section {
    position: relative;
    margin-top: 2%;
}

.smallPics {
    background: rgba(36, 35, 35, 0.651);
    border-radius: 10px;
}

a h5,
h3 {
    color: #E2E2E2;
}

a:hover h5 {
    color: #F47A55;
}

body {
    background: none;
}

html {
    background: url(../images/ruins.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: hidden; */
}


/* this is the media tag for mobile styles */

@media only screen and (max-width: 767px) {
    html {
        background-image: none;
    }
    .mobileHR {
        display: block;
    }
    .headerDiv {
        margin-top: -1.5em;
        margin-bottom: 0em;
    }
    .carousel-item>img {
        display: block;
        width: 100%;
        height: 20em;
        border: 1.5px solid black;
        margin-top: 1em;
    }
    ol.carousel-indicators {
        display: none;
    }
    .spinner {
        margin-top: 2em;
    }
    a#navIcon:hover+ul.nav,
    nav.menu ul:hover {
        margin-top: -11%;
    }
    .smallPics {
        background: #E2E2E2;
    }
    a h5,
    h3 {
        color: black;
    }
}


/*this is were the image width and height properties are for the carosel image*/

@media only screen and (min-width: 768px) {
    .carousel-item>img {
        display: block;
        width: 100%;
        height: 40em;
        border: 2.5px solid black;
    }
    .mobileHR {
        display: none;
    }
}

@media screen and (orientation:landscape) and (max-width: 767px) {
    /* Landscape styles */
    .headerDiv {
        margin-top: .5em;
        /* margin-bottom: 0em; */
    }
    li {
        padding-top: 0;
        padding-bottom: 0;
    }
}


/* regular styles */

.carousel {
    position: relative;
    /* max-width: 1400px;
    margin-left: auto;
    margin-right: auto; */
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    line-height: 1;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .carousel-inner>.item.next,
    .carousel-inner>.item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner>.item.prev,
    .carousel-inner>.item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner>.item.next.left,
    .carousel-inner>.item.prev.right,
    .carousel-inner>.item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block;
}

.carousel-inner>.active {
    left: 0;
}

.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner>.next {
    right: 100%;
}

.carousel-inner>.prev {
    left: 100%;
    */
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    left: 0;
}

.carousel-inner>.active.left {
    left: -100%;
}

.carousel-inner>.active.right {
    left: 100%;
}

.carousel-control {
    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;*/
    height: 100%;
    width: 15%;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: black;
    filter: alpha(opacity=50);
    opacity: .5;
}

a.left.carousel-control {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

a.right.carousel-control {
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    position: absolute;
}

figure {
    position: absolute;
    /* width: 100%; */
    /* display: table;
    content: "";
    clear: both; */
}

#fig1 {
    z-index: 10;
    left: 13%;
    /* top: 34px; */
}

#fig2 {
    z-index: 20;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
}

#fig3 {
    z-index: 10;
    right: 13%;
    /* top: 34px; */
}

#services {
    margin-top: 2em;
}

.img-fluid {
    box-shadow: 2px 2px 10px #000000a8;
    border-radius: 15px;
}


/* footer styles */

footer {
    text-align: center;
    border-top: 1px solid black;
}