    /* 
    Capstone Project
    Authors: Jamin, Vinny, Jacson
    Date: 3.2.18

    filename: main.css
*/
    /* Importing fonts */
    
    @import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
    @import url('https://fonts.googleapis.com/css?family=Gugi');
    @import url('https://fonts.googleapis.com/css?family=Cute+Font');
    @import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
    @import url('https://fonts.googleapis.com/css?family=Bangers|Do+Hyeon');
    /* Background Styles */
    
    body {
        background: #E2E2E2;
    }
    /* Header Styles */
    
    h1#mainHeader,
    h1#navHeader {
        font-family: 'Gugi', cursive;
        color: #005F9B;
        font-size: 5em;
    }
    
    .header {
        padding-right: 0px!important;
        padding-left: 0px!important;
        margin-right: 0!important;
        margin-left: 0!important;
    }
    
    h2 {
        font-size: 3.25rem;
        color: #F26B00;
        font-family: 'Bangers', cursive;
    }
    
    mark {
        background: none;
        color: #005F9B;
        font-family: 'Berkshire Swash', cursive;
        text-decoration: underline;
    }
    
    h3#help {
        font-size: 2.5em;
        font-family: 'Do Hyeon', sans-serif;
        margin-bottom: 1.5%;
        text-decoration: underline;
    }
    
    section#header {
        float: left;
    }
    /* Nav Bar Styles */
    
    nav {
        font-family: 'Cute Font', cursive;
        z-index: 200;
    }
    
    img#iconImg {
        display: none;
    }
    
    section.col-lg-2>a>img {
        border: 2px solid black;
    }
    
    section>img {
        width: 100%;
        height: 200px;
        max-height: 200px;
    }
    
    section.col-sm-6>img {
        width: 100%;
        height: 200px;
        max-height: 150px;
    }
    
    section.col-md-6>a>img {
        width: 100%;
        height: 200px;
        max-height: 200px;
        margin-bottom: 1.5%;
    }
    
    section>a {
        color: black;
        font-family: 'Do Hyeon', sans-serif;
    }
    
    ul.nav,
    a#navIcon {
        width: 100%;
        /* margin-top: 1%; */
        background: #343a40!important;
        z-index: 10
    }
    
    div.navList {
        height: 30px;
    }
    
    a:hover {
        color: #F47A55;
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        /* line-height: 50%; */
        width: 100%;
    }
    
    #shoppingCartIcon {
        width: 40%;
    }
    
    section,
    ul {
        width: 100%;
        display: table;
        content: "";
    }
    /* Form Styles */
    /* ============================================= */
    
    .pt-4,
    .py-4 {
        padding-top: 0rem!important;
    }
    
    .mt-4,
    .my-4 {
        margin-top: 0rem!important;
    }
    
    footer h6 {
        color: #F26B00;
        border-bottom: 1px solid #F26B00;
    }
    
    .mb-4,
    .my-4 {
        margin-bottom: .75rem!important;
    }
    
    #followText {
        color: white;
        border-bottom: none;
    }
    
    hr {
        background-color: #F26B00;
    }
    
    footer p {
        margin-bottom: .25rem;
    }
    
    .pb-3,
    .py-3 {
        padding-bottom: 0rem!important;
    }
    
    .pt-3,
    .py-3 {
        padding-top: 0rem!important;
    }
    
    .icon {
        float: none!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    /* Div style */
    
    .mainDiv::after {
        width: 100%;
        display: table;
        content: "";
    }
    
    div[class^="col"] {
        float: left;
    }
    
    div.col70 {
        width: 70%;
    }
    
    div.col50 {
        width: 50%;
    }
    
    div.col40 {
        width: 40%;
    }
    
    div.col30 {
        width: 30%;
    }
    
    div.col25 {
        width: 25%;
    }
    
    div.col20 {
        width: 20%;
    }
    
    div.col18 {
        width: 18%;
    }
    
    div.col15 {
        width: 15%;
    }
    
    div.col12 {
        width: 12%;
    }
    
    div.col10 {
        width: 10%;
    }
    /* ========================================== Media Queries =========================================== */
    /* SMARTPHONES PORTRAIT */
    
    @media only screen and (max-width: 420px) {
        div.col35 {
            width: 55%;
            margin-left: 20%;
            margin-bottom: 2%;
        }
        h1#mainHeader {
            font-size: 1.5em;
            /* text-decoration: underline; */
        }
        div.mainDiv {
            width: 100%;
            clear: both;
            margin-top: -10%;
            margin-bottom: 1em;
        }
        /* div.mainDiv {
            width: 100%;
            clear: both;
            margin-top: -13%;
            margin-bottom: 1em;
        } */
        /* div.col35 {
            width: 50%;
            margin-top: 1.5%;
            margin-bottom: 2%;
        } */
        h3#help {
            font-size: 1.5em;
        }
        img#iconImg {
            display: block;
            width: 100px;
            padding-left: 9%;
            /* width: 39%;
            padding-left: 9%; */
        }
        a#navIcon:hover+ul.nav,
        nav.menu ul:hover {
            margin-top: -10%;
        }
    }
    
    @media only screen and (max-width: 575px) {
        section.col-sm-6>img {
            width: 100%;
            height: 200px;
            max-height: 500px;
        }
    }
    
    @media only screen and (max-width: 767px) {
        h1#mainHeader {
            font-size: 2.2em;
            text-align: center;
            /* margin-top: -6%; */
            content: "";
            width: 100%;
            display: table;
            margin-bottom: 3%;
        }
        .headerRow {
            margin-left: auto;
            margin-right: auto;
            background: #343a40!important;
        }
        h1#navHeader {
            font-size: 1.25em;
            text-align: left;
            margin-top: 10%;
            /* margin-top: 2%; */
        }
        h2#slogan {
            display: none;
        }
        .headerDiv {
            margin-top: -1.5em;
            margin-bottom: 1em;
        }
        mark.headStatements {
            font-size: 1em;
        }
        nav.menu2 {
            display: none;
        }
        li {
            text-align: left;
            padding-top: 2%;
            padding-bottom: 4%;
            padding-left: 7%;
            margin-top: 1%;
            margin-bottom: 1%;
            font-size: 1.5em;
        }
        ul.nav {
            display: none;
            box-shadow: 2px 2px 10px #000000a8;
        }
        img#iconImg {
            display: block;
            width: 30px;
            padding-left: 9%;
            /* width: 39%;
            padding-left: 9%; */
        }
        a#navIcon {
            width: 35px;
            display: table;
            content: "";
            border: none;
            background: none;
        }
        a#navIcon:hover+ul.nav,
        nav.menu ul:hover {
            display: table;
            width: 55%;
            height: 800px;
            position: absolute;
            margin-top: -2.5%;
            margin-left: -.5%;
            position: fixed;
        }
        p.statements {
            font-size: 0.75em;
        }
        div.signInButton {
            float: right;
            margin-top: -5%;
        }
        /* button#mainSignIn {
        font-size: 1em;
        margin-left: 45%;
        border: 1.5px solid black;
        font-family: 'Cute Font', cursive;
    }
    button#mainSignIn:hover {
        background: #0D2100;
        color: #EC5C5C;
        font-weight: bolder;
    } */
        /* phone form styles */
    }
    /* SMARTPHONES LANDSCAPE */
    
    @media only screen and (min-width: 480px) {
        div.col30 {
            width: 35%;
            margin-left: 35%;
        }
        /* h1#mainHeader {
            font-size: 2em;
            text-align: center;
        } */
        /* h2#slogan {
        display: block;
        font-size: 1em;
        margin-top: -4%;
        margin-left: -3%;
    } */
    }
    /* TABLETS PORTRAIT */
    
    @media only screen and (min-width: 768px) {
        div.col35 {
            width: 30%;
            margin-left: 0%;
        }
        h1#navHeader {
            display: none;
        }
        h1#mainHeader {
            font-size: 2.5rem;
            text-align: center;
            /* margin-top: 4%;
            padding-top: 6%; */
        }
        h2#slogan {
            display: block;
            font-size: 1.75rem;
            /* padding-top: 4%; */
        }
        .headerRow {
            width: 100%;
        }
        nav {
            font-size: 2em;
            text-align: center;
            float: left;
            width: 100%;
            margin-bottom: 2%;
            /* margin-top: 20%; */
        }
        nav.menu {
            display: none;
        }
        nav.menu2 {
            display: block;
        }
        li {
            float: left;
            margin-left: 1%;
            margin-right: 1%;
            /* margin-top: 1%;
            margin-bottom: 1%; */
        }
        img#iconImg {
            display: none;
        }
    }
    /* TABLET LANDSCAPE / DESKTOP */
    
    @media only screen and (min-width: 1046px) {
        h1#mainHeader {
            font-size: 4rem;
            text-align: center;
            /* margin-top: 4%;
            padding-top: 6%; */
        }
        h2#slogan {
            display: block;
            font-size: 2.75rem;
            padding-top: 2.75%;
            padding-left: 2%;
        }
        div.col60 {
            width: 62%;
        }
        nav {
            font-size: 3em;
        }
        img#iconImg {
            display: none;
        }
    }
    
    @media only screen and (min-width: 1220px) {
        h1#mainHeader {
            font-size: 4.5rem;
            text-align: center;
            /* margin-top: 4%;
            padding-top: 6%; */
        }
        h2#slogan {
            display: block;
            font-size: 3.2rem;
            padding-top: 2.75%;
            padding-left: 2%;
        }
    }
    
    @media only screen and (min-width: 1400px) {
        h1#mainHeader {
            font-size: 5rem;
            text-align: center;
            /* margin-top: 4%;
            padding-top: 6%; */
        }
        h2#slogan {
            display: block;
            font-size: 3.25rem;
            padding-top: 2.75%;
            padding-left: 2%;
        }
    }
    
    @media only screen and (min-width: 1600px) {
        h1#mainHeader {
            font-size: 6rem;
            text-align: center;
            /* margin-top: 4%;
            padding-top: 6%; */
        }
        h2#slogan {
            display: block;
            font-size: 4em;
            padding-top: 2.75%;
            padding-left: 2%;
        }
    }