/* 
    Capstone Project
    Authors: Jamin, Vinny, Jacson
    Date: 3.2.18

    filename: makeDonation.css
*/

h1#mainHeader {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

ul.nav {
    margin-top: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

button {
    background: #005F9B !important;
}

button:hover {
    background: #F26B00 !important;
}

section {
    position: absolute;
}

@media only screen and (max-width: 767px) {
    .headerDiv {
        margin-top: -1.5em;
        margin-bottom: 0em;
    }
    a#navIcon:hover+ul.nav,
    nav.menu ul:hover {
        margin-top: -11%;
    }
    #donationForm {
        margin-top: 2.5em;
    }
}