/* 
    Capstone Project
    Authors: Jamin, Vinny, Jacson
    Date: 3.2.18

    filename: myAccount.css
*/


/* form styles */

header {
    /* background: #E2E2E2; */
    background: #3a3737b0
}

body {
    background: none;
}

h1#mainHeader {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

h1.formHeaders {
    text-align: center;
}

h4.stepNum {
    margin-left: 10%;
}

ul.nav {
    margin-top: 0;
}

.col-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

form {
    background-color: rgba(36, 35, 35, 0.651);
    border-radius: 10px;
    color: white;
}

.text-muted {
    color: white!important;
}

.signInForm {
    margin-bottom: 1.5em;
}

html {
    background: url(../images/sidewalk_big.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
    .container {
        background: url(../images/sidewalk_small.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
    .signInForm {
        margin-top: 3em;
    }
    .headerDiv {
        margin-top: -1.5em;
        margin-bottom: .25em;
    }
    a#navIcon:hover+ul.nav,
    nav.menu ul:hover {
        margin-top: -11%;
    }
    .col-sm-8 {
        width: 90%;
    }
    .signupButtons {
        width: 45%;
        margin-top: 0;
    }
    .prev {
        padding-right: 7.5px;
        margin-right: 0;
    }
    .next {
        padding-left: 7.5px;
        margin-left: 0;
    }
    .signInButton {
        width: 45%;
        /* margin-top: 0; */
        /* float: right; */
        /* padding-right: 15px; */
    }
    button {
        margin-top: 0;
    }
}