/* 
    Capstone Project
    Authors: Jamin, Vinny, Jacson
    Date: 3.2.18

    filename: myAccount.css
*/


/* form styles */

h1#mainHeader {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

h1.formHeaders {
    text-align: center;
}

h4.stepNum {
    margin-left: 10%;
}

ul.nav {
    margin-top: 0;
}

.col-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

form {
    background-color: darkgray;
    border-radius: 10px;
}

.signInForm {
    margin-bottom: 3em;
}

.pt-4,
.py-4 {
    padding-top: 0rem!important;
}

.mt-4,
.my-4 {
    margin-top: 0rem!important;
}

footer h6 {
    color: #F26B00;
    border-bottom: 1px solid #F26B00;
}

#followText {
    color: white;
    border-bottom: none;
}

hr {
    background-color: #F26B00;
}

footer p {
    margin-bottom: .25rem;
}

.pb-3,
.py-3 {
    padding-bottom: 0rem!important;
}

.pt-3,
.py-3 {
    padding-top: 0rem!important;
}

@media only screen and (max-width: 767px) {
    .icon {
        float: none!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}