/* 
    Capstone Project
    Authors: Jamin, Vinny, Jacson
    Date: 3.2.18

    filename: myAccount.css
*/


/* form styles */

h1#mainHeader {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

h1.formHeaders {
    text-align: center;
}

h4.stepNum {
    margin-left: 10%;
}

ul.nav {
    margin-top: 0;
}

.col-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

form {
    background-color: darkgray;
    border-radius: 10px;
}

.signInForm {
    margin-bottom: 3em;
}