.parallax {
    background: url(../images/africanPoverty.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    width: 100%;
}

h1#mainHeader {
    padding-top: 0;
    margin-bottom: 0;
}


/* Shopping cart Styles */

.shoppingCart {
    padding-top: 1em;
    background: rgba(36, 35, 35, 0.651);
}

form {
    color: white;
}

td,
#th {
    border: 1px solid white;
}


/* End of shopping cart styles */

footer {
    position: fixed
}

@media only screen and (max-width: 767px) {
    .parallax {
        background: none;
    }
    #backgroundImage {
        /* height: 100%; */
        overflow-x: hidden;
        display: table;
    }
    .headerDiv {
        margin-top: -1.5em;
        margin-bottom: 0em;
    }
    a#navIcon:hover+ul.nav,
    nav.menu ul:hover {
        margin-top: -11%;
    }
    .shoppingCart {
        /* margin-top: 3em; */
        /* padding-top: 2em; */
        margin-top: 3em;
        border-radius: 10px;
    }
}

@media screen and (orientation:landscape) and (max-width: 767px) {
    /* Landscape styles */
    .headerDiv {
        margin-top: 0em;
        /* margin-bottom: -.5em; */
    }
    li {
        padding-top: 0;
        padding-bottom: 0;
    }
}