h1#mainHeader {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

td {
    border: 1px solid black;
}

footer {
    position: fixed
}

@media only screen and (max-width: 767px) {
    .headerDiv {
        margin-top: -1.5em;
        margin-bottom: 0em;
    }
    a#navIcon:hover+ul.nav,
    nav.menu ul:hover {
        margin-top: -11%;
    }
    .shoppingCart {
        margin-top: 3em;
    }
}